jira-to-slack.json
{
  "name": "jira to slack",
  "nodes": [
    {
      "parameters": {
        "events": [
          "jira:issue_updated",
          "comment_created"
        ],
        "additionalFields": {
          "excludeBody": false
        }
      },
      "type": "n8n-nodes-base.jiraTrigger",
      "typeVersion": 1.1,
      "position": [
        -1136,
        -32
      ],
      "id": "4ef987dd-e0f0-4250-be66-0c76a7040090",
      "name": "Jira Trigger",
      "webhookId": "89a5f6b5-8fb4-49c4-84f3-4c31f043de39",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "YOUR_JIRA_CREDENTIAL_ID",
          "name": "Jira Account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are summarizing Jira webhook events for Slack notifications.\nRules:\nReturn ONE single sentence only.\nDo NOT add emojis.\nDo NOT add quotes.\nDo NOT add extra text.\nIf the event is a comment event (eventType contains \"comment\"):\nReturn:\nNew comment on <issueKey> by <triggeredByName>: <short summary>\n\nIf the event is NOT a comment event:\nReturn:\nIssue Updated: <issueKey> - <issueSummary> (Status: <issueStatus>) by <triggeredByName>\n\nData:\nEvent type: {{$json.eventType}}\nTriggered by: {{$json.triggeredByName}}\nIssue key: {{$json.issueKey}}\nIssue summary: {{$json.issueSummary}}\nComment body: {{$json.commentBody}}\nIssue status: {{$json.issueStatus}}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -224,
        -64
      ],
      "id": "342ebaba-4d0a-491e-a33c-45e38e4ca980",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "YOUR_SLACK_USER_ID",
          "mode": "list",
          "cachedResultName": "your_slack_username"
        },
        "text": "=🔔 *Jira Update*\n\n{{$json.output}}\n\n🔗 View Issue: https://YOUR_JIRA_DOMAIN.atlassian.net/browse/{{ $json.comment?.self.split('/issue/')[1].split('/')[0]}}\n",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        80,
        -64
      ],
      "id": "7cec5d64-2a84-4406-b99a-9fbc9acb55ed",
      "name": "Send a message",
      "webhookId": "6ca95079-e826-4fef-8db0-d2726e2839aa",
      "credentials": {
        "slackOAuth2Api": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -256,
        128
      ],
      "id": "a953c6dc-135c-48c7-a16d-62fb4c232e91",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b5399719-5e38-4c0c-af1e-39146419ced4",
              "leftValue": "={{ $json.webhookEvent }}",
              "rightValue": "comment_created",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "66b3839d-a1ac-4a46-a3df-7354bf479436",
              "leftValue": "={{ $json.webhookEvent }}",
              "rightValue": "jira:issue_updated",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -944,
        -32
      ],
      "id": "f2d88633-f138-4d56-b123-f55cee0e9446",
      "name": "Event filter (entry gate)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "630dd9f4-9a9f-4f50-a521-52585472335f",
              "name": "triggeredByName",
              "value": "={{ $json.comment?.author?.displayName || $json.user?.displayName || '' }}",
              "type": "string"
            },
            {
              "id": "e80889b7-1e54-4776-8262-723421292068",
              "name": "eventType",
              "value": "={{ $json.webhookEvent }}",
              "type": "string"
            },
            {
              "id": "4b2f98b8-21f3-4596-ab83-a76d82dbf0a4",
              "name": "issueKey",
              "value": "={{ $json.issue?.key || '' }}",
              "type": "string"
            },
            {
              "id": "efb261e2-93a9-4145-9e34-c149042b1d47",
              "name": "issueSummary",
              "value": "={{ $json.issue?.fields?.summary || '' }}",
              "type": "string"
            },
            {
              "id": "e2afcb64-2901-4965-bc0f-0be5ec7eec14",
              "name": "commentBody",
              "value": "={{ $json.comment?.body || '' }}",
              "type": "string"
            },
            {
              "id": "df0e4ef0-5dc6-4be9-9a8d-973f0570b4d0",
              "name": "issueStatus",
              "value": "={{ $json.issue?.fields?.status?.name || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -688,
        -48
      ],
      "id": "98558e0a-adec-4ded-a6d3-82bea58cd426",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "adcfca03-36e2-4284-b42e-83d15b0cffe3",
              "leftValue": "={{ $json.triggeredByName }}",
              "rightValue": "YOUR_JIRA_DISPLAY_NAME",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -480,
        -48
      ],
      "id": "bdd6e5c9-c6c7-4ed2-9eb9-978a0ca3b8ef",
      "name": "Name filter"
    }
  ],
  "pinData": {},
  "connections": {
    "Jira Trigger": {
      "main": [
        [
          {
            "node": "Event filter (entry gate)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Event filter (entry gate)": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Name filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Name filter": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "7fae4e34-722a-4b71-b0e7-bcb9a4f93a38",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "kp-gXm1_YacaU99mKJutn",
  "tags": []
}